<div class="exchange-link">{{#linkTo index}}Internet Exchange List{{/linkTo}}</div>
<h2 class="exchanges-available">Selected Building:</h2>
<div class="building">
	<div class="building-icon"></div>
	<div class="building-info">
		<div class="building-address">
			{{view view.buildingView}}
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
<h2 class="exchanges-available">IXes located in this building:</h2>
{{#each exchange in exchanges}}
<div class="exchange">
	<div class="exchange-icon"></div>
	<div class="exchange-name">
		{{#linkTo "internet-exchange" exchange.slug}}{{exchange.name}}{{/linkTo}}
	</div>
	<div class="exchange-info">
		{{#each exchange.info}}
		<div class="exchange-contact">
		{{#if link}}
			<a {{bindAttr onclick="onclick"}} {{bindAttr href="link"}}>{{value}}</a><br/>
		{{else}}
			{{value}}<br/>
		{{/if}}
		</div>
		{{/each}}
	</div>
</div>
{{/each}}