<div class="exchange-link">
	{{#link-to "index"}}Internet Exchange List{{/link-to}}
</div>
<h2 class="search-result-name">
	{{model.name}}
</h2>
<a class="email-link" href="mailto:?Subject=TeleGeography%20Internet%20Exchange%20Map&Body=" onclick="this.href=this.href+window.location.href;">Email link</a>
<div class="exchange" id="exchange-0">
	<div class="exchange-icon"></div>
	<div class="exchange-information">
	  {{#each model.exchange_info as |ei|}}
			<div class="exchange-contact">
			{{#if ei.link}}
				<a onclick={{ei.onclick}} href={{ei.link}}>{{ei.value}}</a><br>
			{{else}}
				{{ei.value}}<br>
			{{/if}}
			</div>
		{{/each}}
	</div>
</div>
{{#each model.buildings as |building|}}
	{{building-address-link building=building}}
{{/each}}